#%RAML 1.0
title: customer-api-deloitte
baseUri: http://example.com/api/v1


/customers:
  get:

  post:
    body: 
      application/json:
    responses: 
      400:
        body: 
          application/json:
            example: {"bad":""}
      201:
        body: 
          application/json:
            example: {"id":"1234"}
        headers: 
          Location:
            example: "/customers/1234"
  
  /{id}:
    get:
      responses: 
        200:
          body: 
            application/json:
              example: !include reponse-customer-get.example
                
    put:

    patch:

    delete:


        
      
  
